.game-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.game-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 100%;
    background-color: #808080;
}

.game-main {
    display: flex;
    height: 70%
}

.game-right, .game-left {
    background-color: lightblue;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-middle {
    background-color: lightgreen;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.game-bottom {
    background-color: pink;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.game-bottom button {
    width: 100px;
    height: 50px;
    margin: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cards-top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 30%;
}

.cards-stock {
    display: flex;
    justify-content: flex-start;
    width: 40%;
}

.mana-pools {
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.cards-bottom {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}

.tableau {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.cards-hand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.card-stack.horizontal {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card-stack.pile {
    position: relative;
    height: 200px; /* or card height */
    width: 100%;
}

.card-stack.vertical {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.card-view, .card-stack-empty {
    width: 100px;
    aspect-ratio: 5 / 7;
    background-color: white;
    margin: 10px;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.card-view {
    justify-content: flex-start;
    align-items: flex-start;
}

.card-view.selected {
    box-shadow: 0 0 20px orange;
    transform: scale(1.05);
    transition: border 0.2s, transform 0.2s, box-shadow 0.2s;
}

.card-stack-empty {
    justify-content: center;
    align-items: center;
}

.card-view {
    font-size: 12px;
}

.card-front {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.card-description {
    color: #555;
    margin: 5px;
}

.card-back {
    height: 100%;
    width: auto;
    display: block;
    border-radius: 8px;
    border: 5px solid white;
}

.card-spread {
    display: flex;
    flex-wrap: wrap;
}

.modal {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    gap: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.mana-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.enemy-info {
    overflow: scroll; /* This is a placeholder which sucks */
}
